@if (showHeader()) {
  <bng-header
    [version]="version"
    copyright="B1NGO"
    [homeAriaLabel]="homeAriaLabel()"
    (homeClicked)="onHomeClicked()"
  >
    <bng-menu-item [icon]="helpIcon" label="How to play" (clicked)="openTutorial()" />
    <bng-menu-item label="Theme" (clicked)="themeSheetOpen.set(true)">
      <span
        menuItemIcon
        class="w-5 h-5 rounded-full"
        [style.backgroundColor]="themeService.accentColor()"
      ></span>
    </bng-menu-item>
    @if (auth.isAuthenticated()) {
      <bng-menu-item [icon]="signOutIcon" label="Sign out" (clicked)="onSignOut()" />
    } @else {
      <bng-menu-item [icon]="logInIcon" label="Log in" (clicked)="navigateTo('/auth/login')" />
    }
  </bng-header>
}

<router-outlet />

@if (auth.isAuthenticated() && tabBarVisible()) {
  <bng-tab-bar>
    <bng-tab-bar-item
      [icon]="homeIcon"
      label="Home"
      [active]="isHomeActive()"
      (clicked)="onTabNavigate('/')"
    />
    <bng-tab-bar-item
      [icon]="clockIcon"
      label="History"
      [active]="isHistoryActive()"
      (clicked)="onTabNavigate('/history')"
    />
    <bng-tab-bar-item
      [icon]="barChartIcon"
      label="Stats"
      [active]="isStatsActive()"
      (clicked)="onTabNavigate('/stats')"
    />
    <bng-tab-bar-item
      [icon]="userIcon"
      label="Profile"
      [active]="isProfileActive()"
      (clicked)="onTabNavigate('/profile')"
    />
  </bng-tab-bar>
}

<bng-bottom-sheet title="Theme" [open]="themeSheetOpen()" (closed)="themeSheetOpen.set(false)">
  <div class="flex justify-center py-2">
    <bng-theme-picker
      [currentTheme]="themeService.currentTheme()"
      (themeChange)="onThemeChange($event)"
    />
  </div>
</bng-bottom-sheet>

<app-tutorial [open]="tutorialOpen()" (closed)="closeTutorial()" />
<bng-toast-container />
