@if (showHeader()) {
  <bng-header [version]="version" copyright="B1NGO" [homeAriaLabel]="homeAriaLabel()" (homeClicked)="onHomeClicked()">
    @if (auth.isAuthenticated()) {
      <bng-menu-item [icon]="userIcon" label="My Profile" (clicked)="navigateTo('/profile')" />
      <bng-menu-item [icon]="clockIcon" label="Game History" (clicked)="navigateTo('/history')" />
      <bng-menu-item [icon]="barChartIcon" label="Stats" (clicked)="navigateTo('/stats')" />
    }
    <bng-menu-item [icon]="helpIcon" label="How to play" (clicked)="openTutorial()" />
    <bng-menu-item label="Theme" (clicked)="themeSheetOpen.set(true)">
      <span
        menuItemIcon
        class="w-5 h-5 rounded-full"
        [style.backgroundColor]="themeService.accentColor()"
      ></span>
    </bng-menu-item>
    @if (auth.isAuthenticated()) {
      <bng-menu-item [icon]="signOutIcon" label="Sign out" (clicked)="onSignOut()" />
    } @else {
      <bng-menu-item [icon]="logInIcon" label="Log in" (clicked)="navigateTo('/auth/login')" />
    }
  </bng-header>
}

<router-outlet />

<bng-bottom-sheet title="Theme" [open]="themeSheetOpen()" (closed)="themeSheetOpen.set(false)">
  <div class="flex justify-center py-2">
    <bng-theme-picker
      [currentTheme]="themeService.currentTheme()"
      (themeChange)="onThemeChange($event)"
    />
  </div>
</bng-bottom-sheet>

<app-tutorial [open]="tutorialOpen()" (closed)="closeTutorial()" />
<bng-toast-container />
